* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*=== ROOT ===*/
:root {
  --color-primary: #00b4d8;
  --color-background: #001845;
  --color-text: #f0f8ff;
  --color-text-secondary: #b9c8c8;
  --color-subtitle: #00b4d8;
  --color-title: #f0f8ff;
  --color-card: #021331;
  --z-header: 10;
  --z-content: 1;
  --z-overlay: 100;
}

/*=== BODY ===*/
body {
  font-family: "Source Code Pro", monospace;
  color: var(--color-text);
  background-color: var(--color-background);
}

/*=== HEADER ===*/
header {
  position: sticky;
  top: 0;
  background-color: rgba(0, 14, 41, 0.4);
  backdrop-filter: blur(10px);
  padding: 1.5rem 10rem;
  border-bottom: 2px solid var(--color-primary);
}

header nav {
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 1.75rem;
}

nav ul li a {
  color: var(--color-text);
  text-decoration: none;
  text-transform: uppercase;
}

#logotipo-jose {
  width: 5rem;
  height: auto;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background-color: var(--color-text);
  transition: 0.3s;
}

.hamburger.active span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

body.menu-open {
  overflow: hidden;
}

.menu-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 14, 41, 0.6);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;

  z-index: var(--z-overlay);
}

.menu-mobile {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
}

.menu-mobile a {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--color-text);
  text-transform: uppercase;
  text-decoration: none;
}

.menu-overlay.active {
  opacity: 1;
  pointer-events: auto;
}

.menu-overlay .overlay-close {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}

/*=== HERO ===*/
#hero {
  padding: 5% 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10em;
}

.typing-wrapper {
  display: block;
  min-height: 2.25em;
}

h1.typing-wrapper {
  min-height: 3.6rem;
}

p.typing-wrapper {
  min-height: 2.6rem;
}

#hero-text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-transform: uppercase;
}

#hero-text h1 {
  font-size: 3rem;
}

#hero-text p {
  color: var(--color-text-secondary);
}

#hero-welcome {
  padding: 0.5rem 0px;
  border: 1px solid var(--color-primary);
  border-radius: 100px;
  background-color: rgba(0, 180, 216, 0.4);
  width: fit-content;
}

#hero-welcome p {
  padding: 0.1em 1.5em;
  font-weight: 500;
  color: var(--color-text);
}

#hero-image img {
  margin: 2rem 0rem 2rem 0rem;
  height: 25rem;
  border: 2px solid var(--color-primary);
  border-radius: 100%;
}
.btn-principal {
  display: flex;
  gap: 1.5rem;
}
.btn-principal button {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1em;
  background: linear-gradient(135deg, var(--color-primary), #07798d);
  padding: 1.25em 1.5em;
  border: none;
  border-radius: 100px;
  color: var(--color-text);
  cursor: pointer;
}

.btn-principal button:hover {
  opacity: 0.9;
  transform: translateY(-2px);
}

/*=== SOBRE ===*/
#sobre {
  text-align: center;
  padding: 0rem 10rem;
}

#sobre h2 {
  text-transform: uppercase;
  color: var(--color-primary);
  margin: 2%;
}

#sobre p {
  font-size: 1rem;
  line-height: 2;
  color: var(--color-text);
  font-size: 1.2rem;
}

/*=== HABILIDADES ===*/

#habilidades {
  padding: 0rem 10rem;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-primary);
}
#habilidades p {
  font-weight: 700;
}

#habilidades h2 {
  margin: 5%;
}

#habilidades .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;
}

#habilidades .box {
  min-width: 200px;
  background-color: rgba(255, 255, 255, 0.03);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 1 calc(25% - 20px);
  border-width: 2px;
  border-style: solid;
  border-color: rgba(0, 180, 216, 0.1);
  border-image: initial;
  padding: 30px 20px;
  border-radius: 15px;
  transition: 0.3s;
  gap: 10px;
}

#habilidades .box img {
  width: 50px;
  height: 50px;
  transition:
    transform 0.3s,
    filter 0.3s;
}

/*=== RESPONSIVO PARA CELULARES ===*/
@media (max-width: 480px) {
  /*=== HEADER MOBILE ===*/
  header {
    padding: 1rem 1.5rem;
  }

  header nav {
    gap: 1rem;
  }

  nav ul {
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
  }

  #logotipo-jose {
    width: 5rem;
    height: auto;
  }
  .hamburger {
    display: flex;
  }

  .nav-menu {
    display: none;
  }

  /*=== HERO MOBILE ===*/
  #hero {
    padding: 1.5rem 1.5rem 0rem 1.5rem;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
  }

  .btn-principal {
    flex-direction: column;
    margin: 2% 15%;
  }

  .btn-principal button {
    padding: 1em 1em;
  }

  #hero-text h1 {
    font-size: 1.5rem;
  }

  #hero-image img {
    height: 16rem;
  }

  #hero-welcome {
    align-self: center;
  }

  #hero-welcome p {
    padding: 0.1em 1.5em;
    font-weight: 500;
    color: var(--color-primary);
  }

  #hero-text h1 {
    font-size: 3rem;
  }

  /*=== SOBRE ===*/
  #sobre {
    padding: 1.5rem 1.5rem;
  }

  #sobre h2 {
    text-align: center;
    text-transform: uppercase;
    color: var(--color-primary);
    margin: 2%;
  }

  #sobre p {
    font-size: 1rem;
    line-height: 1.7;
    color: var(--color-text);
    font-size: 1.2rem;
  }

  /*=== HABILIDADES ===*/
  #habilidades {
    padding: 1.5rem 1.5rem;
  }
}
